section {
  padding: 144px 13% 3% 13%; 

}
form {
  padding: 4rem 5.2rem;
  margin: 4rem 0 8rem 0;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
label {
  font-size: 2rem;
  font-weight: 500;
}
input {
  font-size: 2.4rem;
  border: 1px solid #000;;
  margin: .6rem 0;
  background: #E6E6E6;
}
h1 {
  font-size: 4.2rem;
  font-weight: 600;
  color: #000;
}
textarea {
  margin: .6rem 0;
  border: 1px solid #000;
  resize: none;
  width: 100%;
  height: 500px;
}
.btn {
  align-self: center;
  border: none;
  color: #FFF;
  padding: .8rem 4.1rem;
  margin-top: 3rem;
  background: #2C5680;
  font-size: 2.4rem;
  font-weight: 600;
}
.line {
  width: 100%;
  display: flex;
  padding: 1.4rem 0;
}
.desc {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nome input {
  width: 100%;
}
.nome {
  width: 100%;
  padding-right: 1.4rem
}
.link {
  width: 100%;
}
.link input {
  width: 100%;
}
