section {
  padding: 144px 13% 3% 13%; 
}
input:focus {
  outline: none;
}
input {
  margin: 0;
  padding: 0;
}
h4 {
  padding: 1rem 0;
}
.pages {
  text-align: center;
}
.pages a {
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
}
.image {
  flex-shrink: 0;
  width: 430px;
  height: 330px;
  background-size: cover;
}
.menu {
  padding-top: 2rem;
}
.search {
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
}
.search-bar {
  font-size: 1.7rem;
  height: 47px;
  width: 88%;
}
.go {
  color: #FFF;
  background: #DEB959;
  font-weight: 700;
  font-size: 2rem;
  padding: auto;
  border: none;
}
.btn {
  align-self: center;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  background: #DEB959;
  font-weight: 700;
  font-size: 2.5rem;
  padding: .8rem 1.8rem;
  border: none;
}
.green {
  background: #7AAC3A;
}
.wolf {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 4rem;
}
.wolf p {
  color: #000;
  line-height: 20px;
  text-align: left;
}
.data {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.info {
  padding: 0 4rem;
}
.right {
  text-align: right;
}
.right p {
  text-align: right;
}
.box-bg {
  z-index: -1;
  position: absolute;
  width: 430px;
  height: 330px;
  background: #2C5680;
  border: 4px solid #333333;
  box-sizing: border-box;
  left: -30px;
  top: 30px;
}
.box-bg-right {
  z-index: -1;
  position: absolute;
  width: 430px;
  height: 330px;
  background: #2C5680;
  border: 4px solid #333333;
  box-sizing: border-box;
  right: -30px;
  top: 30px;
}
